#sidePanel{
    -fx-background-color: #606060;
    -fx-border-color: #afafaf;
}
.mainPane, #mainPanel{
    -fx-background-color: #5e5e5e;
    -fx-background-insets:0;
    -fx-border-color: #afafaf;
    -fx-border-radius:0;
}
.Icons{
    -fx-fill:white;
}
.label{
    -fx-text-background-color:white;
}
.button, .menu-button{
    -fx-background-insets:0;
    -fx-background-radius:5;
    -fx-background-color: #616161;
    -fx-border-color: #afafaf;
    -fx-border-radius:5;
    -fx-text-fill: white;
}
.menu-button .label{
    -fx-text-fill: white;
}

#windowPanel{
    -fx-background-color: #3a3a3a;
}
.ConcretePage{
    -fx-background-color: #4c4c4c;
    -fx-border-color:none;
    -fx-background-insets:0;
}
.folderView{
    -fx-background-color: #757373;
    -fx-border-color: #afafaf;
    -fx-border-radius:5;
    -fx-background-insets:0;
    -fx-background-radius:5;
}
.list-view{
    -fx-background-color: #757373;
    -fx-border-color: #afafaf;
}
#library,#settingView, .scroll-pane .viewport{
    -fx-background-color: #3e3c3c;
}
.scroll-pane{
    -fx-background-insets:0;
}
.scroll-pane .scroll-bar, .list-view .scroll-bar{
    -fx-background-color: #535353;
}
.scroll-pane .scroll-bar .track, .list-view .scroll-bar .track{
    -fx-background-color: #7c7c7c;
}
.scroll-pane .scroll-bar .thumb, .list-view .scroll-bar .thumb{
    -fx-background-color: #d3d3d3;
    -fx-border-color: none;
    -fx-background-insets: 0;
}

.MainButtons:hover,.button:hover{
    -fx-background-color: #b3b3b3;
}
.MainButtons:pressed,.button:pressed{
    -fx-background-color: #d5d5d5;
}
.windowButtons{
    -fx-background-color:inherit;
    -fx-border-radius:0;
    -fx-background-radius:0;
    -fx-border-color:none;
    -fx-text-fill:white;
}
#minim:hover,#maxim:hover{
    -fx-background-color: #a3a3a3;
}
#minim:pressed,#maxim:pressed{
    -fx-background-color: #b1b1b1;
}
#closin:hover{
    -fx-background-color:red;
}
#closin:pressed{
    -fx-background-color: #bc0000;
}

.ComponentOptions{
    -fx-background-insets:0;
    -fx-background-color:inherit;
    -fx-background-radius:0;
    -fx-border-radius:5;
    -fx-border-color:none;
}
.ComponentOptions:hover{
    -fx-background-color:lightgray;
}
.list-cell{
    -fx-background-color: #979696;
    -fx-text-fill: white;
}
.list-cell:even{
    -fx-background-color: #818181;
    -fx-text-fill: white;
}
.list-cell:filled:pressed{
    -fx-background-color: lightgray;
}
.list-cell:selected{
    -fx-background-color: #bdbcbc;
}
#listEnter:hover{
    -fx-fill:lightgray;
}
#listEnter:pressed{
    -fx-fill:white;
}
.playerPanel{
    -fx-background-color: #7c7b7b;
}
.queueButtons{
    -fx-background-insets:0;
    -fx-background-radius:5;
    -fx-border-radius:5;
    -fx-background-color:inherit;
    -fx-border-color:none;
    -fx-text-fill:white;
}

.queueButtons:hover,#PauseButton:hover{
    -fx-background-color: #cdcdcd;
}
.queueButtons:pressed,#PauseButton:pressed{
    -fx-background-color: #afafaf;
}
#PauseButton{
    -fx-background-insets:0;
    -fx-background-radius:20;
    -fx-border-radius:20;
    -fx-border-color: gray;
    -fx-background-color: #e1e1e1;
    -fx-text-fill:black;
}

.slider .axis{
    -fx-tick-label-fill:white;
}
.choice-box .label, .combo-box .label{
    -fx-text-fill:white;
}
.choice-box,.combo-box{
    -fx-mark-color: white;
    -fx-background-insets:0;
    -fx-background-radius:5;
    -fx-background-color: #9f9f9f;
    -fx-border-color: #757575;
    -fx-border-radius:5;
}
.combo-box .list-cell{
    -fx-background-color: #4a4a4a;
}
.combo-box .list-cell:even{
    -fx-background-color: #606060;
}
.choice-box .context-menu, .menu-button .context-menu{
    -fx-background-color: #656363;
}
.choice-box .context-menu .label, .menu-button .context-menu .label{
    -fx-text-background-color: white;
}
.text-field{
    -fx-background-color: #9f9f9f;
    -fx-text-fill:white;
    -fx-background-insets:0;
}

#albumPanel{
    -fx-background-insets:0;
    -fx-background-radius:5;
    -fx-border-color:lightgray;
    -fx-border-radius:5;
}
.check-box .box{
    -fx-background-color:inherit;
    -fx-background-insets:0;
    -fx-background-radius:5;
    -fx-border-color:lightgray;
    -fx-border-radius:5;
}
.check-box .box:hover{
    -fx-background-color: #bdbdbd;
    -fx-background-radius:5;
}
.check-box:pressed .box, .check-box:selected:pressed .box{
    -fx-background-color:white;
    -fx-background-radius:5;
}
.check-box:selected .mark{
    -fx-background-color:white;
}
.check-box:selected .box{
    -fx-background-color: #979797;
    -fx-background-radius:5;
}

.menu-button:hover{
    -fx-background-color: #cacaca;
}
.menu-button .arrow{
    -fx-background-color: white;
}
.folderOptions{
    -fx-border-color:lightgray;
}